.cell {
  position: relative;
  cursor: pointer;
}

.heading {
  font-weight: bold;
  background-color: var(--color-fill-secondary);
}
.heading > .wrapper {
  gap: 0.2rem;
}

.disabled {
  background-color: var(--color-fill-secondary);
  cursor: default;
}

.selectable {
  background-color: var(--color-background);
  cursor: pointer;
}

.selected {
  position: absolute;

  margin: 2px;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border: 2px dashed var(--color-font);
  border-radius: 9px;

  z-index: 2;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.content {
  position: relative;
  max-width: 15rem;
  min-width: 1rem;
  width: max-content;
  font-family: "roboto-mono";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: smaller;
  gap: 0.5rem;
  z-index: 3;
}
.content > div {
  color: var(--color-font-secondary);
}

.content > span {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.typeIcon {
  font-size: small;
  display: flex;
  align-self: center;
}

.red {
  background-color: var(--color-red);
}
.green {
  background-color: var(--color-green);
}
.blue {
  background-color: var(--color-blue);
}
.yellow {
  background-color: var(--color-yellow);
}

.reference {
  position: sticky;
  background-color: var(--color-fill-secondary);

  overflow: hidden;

  border: solid 1px var(--color-border);

  align-self: center;

  height: fit-content;
  width: fit-content;

  padding: 0.15rem;

  z-index: 4;

  font-weight: bold;
  font-size: smaller;
  text-align: center;

  white-space: nowrap;

  border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
  .red,
  .green,
  .blue,
  .yellow {
    background-color: transparent;
    font-weight: bold;
  }

  .red .content > span,
  .green .content > span,
  .blue .content > span,
  .yellow .content > span {
    padding: 0.25rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    border-radius: 4px;
  }

  .red svg {
    color: var(--color-red);
  }
  .red span {
    color: var(--color-black);
    background: var(--color-red);
  }

  .green svg {
    color: var(--color-green);
  }
  .green span {
    color: var(--color-black);
    background: var(--color-green);
  }

  .blue svg {
    color: var(--color-blue);
  }
  .blue span {
    color: var(--color-black);
    background: var(--color-blue);
  }

  .yellow svg {
    color: var(--color-yellow);
  }
  .yellow span {
    color: var(--color-black);
    background: var(--color-yellow);
  }

  .selected {
    border-color: var(--color-magenta);
  }
}
