.topBar {
  width: 100%;

  padding: 0.5rem 1rem 0.5rem 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: var(--color-background);

  border-bottom: solid 1px;
  border-color: var(--color-border);
}

.logo {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
  font-size: larger;
  height: fit-content;

  color: var(--color-border);

  font-size: 16px;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  gap: 0.5rem;
}
