.switch {
    padding: 0.25rem;
    display: flex;
    flex-direction: row;
    gap: 0.75rem;

    cursor: pointer;

    border-radius: 8px;

    width:fit-content;

    justify-content: space-between;
    align-items: center;

    border: solid 1px var(--color-border);

    font-family: var(--font-main);
    color: var(--color-border);

    background: transparent;
}

.option {
    padding: 0.5rem;
    border-radius: 4px;
    display: flex;
    align-self: center;
}

.selected {
    background-color: var(--color-fill-secondary);
    color: var(--color-font);
}

.selected:hover {
    background-color: var(--color-fill);
}
