.kenno-column {
  max-width: 7rem;
  font-family: "roboto-mono";
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-size: smaller;
  gap: 0.5rem;
}

.kenno-type-icon {
  font-size: small;
  display: flex;
  align-self: center;
}

.tag-red {
  background-color: #e54f6d;
}

.tag-yellow {
  background-color: #f8c630;
}

.tag-green {
  background-color: #43aa8b;
}

.tag-cyan {
  background-color: #00bbf9;
}

.tag-blue {
  background-color: #3f8efc;
}

.tag-magenta {
  background-color: #ff006e;
}

.kenno-column > svg {
  color: black;
  opacity: 0.6;
}
