:root {
  --color-red: #cb5a6f;
  --color-green: #6aa88d;
  --color-blue: #648ef4;
  --color-orange: #e7793d;
  --color-yellow: #eac754;
  --color-magenta: #ce24ce;

  --color-black: #000000;
  --color-white: #ffffff;

  --color-gray-black: #1b1b1b;
  --color-gray-darker: #222222;
  --color-gray-dark: #444444;
  --color-gray: #888888;
  --color-gray-bright: #eaeaea;
}
