:root {
  font-family: var(--font-main);
  color: var(--color-font);
  border-color: var(--border-color);
}

html {
  background-color: var(--color-background);
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Inputs */

input[type] {
  background-color: var(--color-background-secondary);
  color: var(--color-font);
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  font-family: var(--font-main-mono);
  font-variant-ligatures: normal;
}

textarea {
  background-color: var(--color-background-secondary);
  color: var(--color-font);
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  font-family: var(--font-main-mono);
  font-variant-ligatures: normal;
  resize: none;
  height: 100%;
  overflow: scroll;
  border-radius: 4px;
}

/* Scrollbar */

*::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.35rem;
}

*::-webkit-scrollbar-corner {
  background: var(--color-background-secondary);
  border-bottom-right-radius: 4px;
}

*::-webkit-scrollbar-track {
  background: var(--color-background-secondary);
}

*::-webkit-scrollbar-thumb {
  border-radius: 3px;

  border: solid 1px var(--color-border);
  background: var(--color-background-secondary);
}

/* Every element is a border-box */

* {
  box-sizing: border-box;
}
